/* Start documentation header comment

PowerMILL Setup Sheets: default cascading style sheet

=============================================================================
COPYRIGHT 2005 DELCAM PLC., BIRMINGHAM, ENGLAND.
=============================================================================

History.
DICC  Who When     What
===== === ======== ==========================================================
55767 SPD 26/04/05 Written, based on work done by AW.
55886 SPD 28/04/05 Formatting for error message, a4page and index classes.
55941 SPD 09/05/05 Improve the appearance of printed output.
56175 SPD 20/05/05 Formatting for regeneration link, and browser controls.
56285 SPD 02/06/05 Added VML stuff, and no_print_breaks class for <thead>.
56775 SPD 05/07/05 Changes to the image classes.
56844 SPD 11/07/05 Added vspace class, for improved print layout.
57697 SPD 14/09/05 Added a comment about US Letter paper.
59645 SPD 05/02/06 Word wrapping now done here; no longer hard-coded.
60056 SPD 03/03/06 Added the wrapped class for spans.
60450 SPD 24/03/06 Made snapshot image widths automatic.
60637 SPD 05/04/06 Snapshot image display tweaks.
65030 SPD 08/03/07 Updated the colour scheme for PowerMILL 8.0.
66999 MH  20/08/07 Use page-break-after for a4page
111512 MOM 03/04/14 Adjust snapshot image size, and remove borders
111727 MOM 15/04/14 Adjustments for IE9 emulation, and some other visual
                    tweaks for web and print.  
112626 MOM 29/05/14 Tables have a fixed width so that they don't exceed their
                    parent's width if cells contains long strings.
=============================================================================

End documentation header comment */


/* GENERAL FORMATTING: */

body {
  left: 0.0cm;
  top: 0.0cm;
  width: auto;
  height: auto;
  margin: 0.0cm;
  padding: 0.0cm;

  text-align: left;
  font-family: sans-serif;
  font-size: 12px;
  color: #000000;
  background: #ffffff;
}

/* A span in which the text is allowed to wrap: used for entity names.  */
span.wrapped {
  word-break: break-all; /* N.B. This is a proposed extension to the CSS standard! */
}

/* Unvisited links */
a:link {
  color: #e10000; /* A bright red. */
}
/* Visited links */
a:visited {
  color: #1173b4; /* PowerMILL blue. */
}
/* User hovers */
a:hover {
  color: #000000; /* black */
  background: #80ff80; /* A bright green --- like highlighter pen. */
}
/* Active links */
a:active {
  color: #1173b4; /* PowerMILL blue. */
}

/*
 * A4 is 21.0cm x 29.7cm, the margins are...
 
 * Top:     1.5cm
 * Right:   2.0cm
 * Bottom:  2.5cm
 * Left:    2.0cm
 * This leaves 17cm x 25.7cm for the content
 *
 * US Letter paper is 21.59cm x 27.94cm. There is no need for a separate CSS
 * class --- the following settings can be used, resulting in the following
 * margins when printed on US Letter paper...
 *
 * Top:     2.0cm
 * Right:   2.59cm
 * Bottom:  0.74cm
 * Left:    2.0cm
 *
 */
div.a4page {
  page-break-after: always;
  width: 17cm;
  height: 25.7cm;
  margin-top: 1.0cm;
  margin-left: 0.5cm;
  padding: 0.1cm;
  border: solid 1px #eeeeee; /* Very faint border, to mark edge of printable region of page. */
}

/* Formatting for the navigation frame. */
div.index {
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1.0cm;
  padding: 0.0cm;
  border: solid 1px #eeeeee;
}

@page {
  size: 21.0cm 29.7cm portrait;  /* a4 paper. */
  margin-left: 1.95cm;
  margin-top: 1.4cm;
}

@media print {
  body {
    width: 21cm;
  }
  
  div.a4page {
    margin: 0.0cm;
  }
}

div.vspace {
  width: auto;
  height: 6cm;
}


/* TABLE-SPECIFIC FORMATTING: */

table {
  cellspacing: 2px;
  width: 100%;
  table-layout: fixed;
  page-break-inside: avoid;
}

thead {
  display: table-header-group;
}

th {
  background: #dddddd;
  color: #000000;
  padding: 0px 4px;
  text-align: left;
  border: solid 1px #cccccc;
  font-size: 12px;
  word-wrap: break-word;
}

td {
  margin: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  border: solid 1px #cccccc;
  font-size: 12px;
  word-wrap: break-word;
}

/* White text in a coloured box. */
td.title {
  background: #1173b4; /* PowerMILL blue. */
  color: #ffffff;
  border-style: none;
  font-weight: bold;
  font-size: 17px;
}

tr.summary {
  background: #eeeeee;
}

tr.full_summary {
  background: #cccccc;
  color: #000000;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 4px;
  padding-left: 4px;
  text-align: left;
  border: solid 1px #aaaaaa;
  font-weight: bold;
  font-size: 12px;
  font-family: sans-serif;
  border: solid 1px #aaaaaa;
}


/* ERROR MESSAGE FORMATTING: */

div.error {
  color: #ff0000; /* red */
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  width: 16.8cm;
  height: auto;
  padding-top: 1.0cm;
  padding-right: 0.0cm;
  padding-bottom: 1.0cm;
  padding-left: 0.0cm;
  margin: 2px;
  border: solid 1px #cccccc;
}

#regen_link {
  text-decoration: underline;
  cursor: hand;
}


/* FORMATTING FOR THE BROWSER CONTROLS: */

table.browser_controls {
  font-weight: bold;
  color: #000000;
  background: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: none;
  text-align: center;
}

#back_button {
  background: #cccccc;
  border-width: 2px;
  border-style: outset;
  width: 100px;
}

#forward_button {
  background: #cccccc;
  border-width: 2px;
  border-style: outset;
  width: 100px;
}

/* This "pads out" the right-hand side of the table containing the browser contols. */
#dummy_button {
  background: #ffffff;
  border-style: none;
  width: auto;
}


/* IMAGE STUFF */

/* This is used to force images to be centered. */
div.center {
  text-align: center;
}

img {
  page-break-inside: avoid;
}

img.tool_image {
  width: 178px;
  height: 250px;
  border: solid 1px #eeeeee;
}

img.snapshot_image {
  width: auto;
  height: 11cm; /* Based on the a4page & body classes to make it fits within an A4 page */
}

img.logo_image {
  width: 100%;
  height: auto;
}


/* Microsoft VML stuff, for the automatically-generated PowerMILL tool image. */

v\:* {
  behavior: url(#default#VML);
}
